
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css"rel="stylesheet"/>
    <title>GetOne</title>
</head>
<body>
   <header>
       <nav>
           <a href="/Employees/Index" class="btn btn-success">All</a>
            <a href="/Employees/GetOne" class="btn btn-success">Get One</a>
             <a href="/Employees/Create" class="btn btn-success">Create</a>
              <a href="/Employees/Update" class="btn btn-success">Update</a>
               <a href="/Employees/Delete" class="btn btn-success">Delete</a>
       </nav>
   </header>

   <main>
       <section>
           Get One Employee
       </section>
   </main>

   <footer class="bg-secondary text-center mt-5 py-3">
       this is footer
   </footer>

</body>
</html>
