@model Employee
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<form class="d-flex  flex-column gap-3 bg-warning p-5 bg-gradient" asp-action="Update">

   @* <input type="hidden" id="Id" name="Id" value="@Model.Id"/>*@
    @Html.HiddenFor(model=>model.Id);

    <label asp-for="Name"> Enter your name</label>
    <input asp-for="Name"/>

     <label asp-for="Email"> Enter your email</label>
    <input asp-for="Email"/>

     <label asp-for="Password"> Enter your password</label>
    <input asp-for="Password"/>

    <button type="submit" class="mt-4 w-50 bg-success m-auto py-3"> Update</button>
</form>